.fa-facebook {  
  background: #3B5998;  
  color: black;  
}

.div{
background-color: white;
align-items: center;
}
.h2{
text-align: center;
color: black;
padding-top: 20px;
}

a {
color: black;

}
a:hover {
color: black;
}
.p {
text-align: center;
font-size: x-large;
padding-bottom: 20px;
}
.links {
display: inline-flex;
padding-right: 10px;
margin: 0 10px;
}

.list{
text-align: center;
}

.py-4{



  margin-top: 30px;
  
}
