.fa-facebook {  
    background: #3B5998;  
    color: white;  
}
div{
  background-color: #045de9;
  align-items: center;
}
h2{
  text-align: center;
  color: white;
  padding-top: 20px;
}
a {
  color: white;
  
}
a:hover{
  color: black;
}
p{
  text-align: center;
  font-size: x-large;
  padding-bottom: 20px;
}
li{
  display: inline-flex;
  padding-right: 10px;
  margin: 0 10px;
}
