.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.top {
    margin-top: 10vh;
}

.name {
    font-weight: 650;
    color: #55311c
}

.image {
    max-width: 150vh;
    max-height: 150vh;
}

.infoDiv {
<<<<<<< HEAD
    width: 1000px;
    align-items: center;
    display: block;
    border-radius: 30px;
    background:#e2b8a1;
    padding: 4rem;
}
.paragraph {
    font-weight: 500;
    text-align: justify;
}

.content {
	padding: 1em 1.5em;
	justify-self: center;
=======
    margin-top: 3rem;
    margin-right: 12rem;
    width: 850px;
}

.card-text{
  text-align: center;
  display: block;
  padding-bottom: 50px;
  border-radius: 30px;
  background:#d1987a;;
  padding: 20px;
  font-weight: 600;
   height: auto;
>>>>>>> 1ee1c4e3e5dc07ac1de8aca422a588036cabb72b
}



