.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.name {
    font-weight: 650;
    color: #55311c
}

.image {
    max-width: 150vh;
    max-height: 150vh;
}

.infoDiv {
    margin-top: 3rem;
    margin-right: 12rem;
    width: 850px;
}

.card-text{
  text-align: center;
  display: block;
  padding-bottom: 50px;
  border-radius: 30px;
  background:#d1987a;;
  padding: 20px;
  font-weight: 600;
   height: auto;
}



