.item {
    margin-bottom: 100px;
}

.form-center {
    display:flex;
    justify-content: center;
  }

  .input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
  }
  .input-button:hover {
      background-color: #55311c;
  }