.title-bar{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    text-align: center;
    color: white;
    display: block;
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .content {
    text-align: center;
    display: block;
    margin-right: 0px;
    padding-bottom: 50px;
  }
  #con {
      font-size: x-large;
      border-bottom: solid;
      border-bottom-color: #045de9;
      margin: auto;
      width: 50%;
      padding: 10px;
      align-items: center;
      padding-bottom: 30px;
  }