<br><br>
<div class="container-fluid title-bar">
    <h1>About Us</h1>
    <h4>Want to know more about us?</h4>
</div>
<br><br>
<div class="content">
    <h2>About Techlead</h2>
    <h6>Leading your tech world</h6>
    <p id="con">Techlead is a news and opinion website about gadgets, technology, science,<br>
       environmental news, entertainment, and culture. From reviews of the latest <br>
       phones, TVs, laptops, shows, and movies to the latest news about privacy, tech <br>
       and environmental policy, and labor, we aim to cover the worlds of technology, <br>
       science, and entertainment with transparency, accuracy, humor, and blunt honesty.</p> <br>
    <h2>Address</h2>
    <p id="con">5, Mahapalika Marg, Mumbai, Maharashtra 400001</p>
    <h2 style="padding-top: 20px ;">Contributers</h2>
    <p id="con">Aayush Jagwani | <a href="https://mail.google.com/" style="color: black;">Email</a> <br>
       Siddhant Pathak | <a href="https://mail.google.com/" style="color: black;">Email</a></p>
</div>
