<div class="fixed-top">
    <!-- navbar 1 -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="index.html"><img src="assets/img/img3.png" style="width: 50px;" alt="logo"></a>
    
          <form #searchForm="ngForm" class="form-inline my-2 my-lg-0 searchForm" (ngSubmit)="SearchF(searchForm.value)">
            <input 
            [(ngModel)]="searchQuery" 
            class="form-control mr-sm-2" 
            name="searchBar" 
            type="text" 
            placeholder="Search" 
            aria-label="Search">

            <button 
             class="btn btn-outline-success my-2 my-sm-0" 
             type="submit" 
             routerLink="/"
             [queryParams]="{ search: searchQuery}"
            >Search
           </button>
          </form> 
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/shop">Shop</a></li>
              <li class="nav-item"><a class="nav-link">Subscribe</a></li>
              <li class="nav-item">
                <a class="nav-link" 
                   onclick="document.getElementById('id01').style.display='block'"
                   style="cursor: pointer;"
                   >Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    
    <!-- navbar 2 -->
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- <ul class="navbar-nav mr-auto">
            <li *ngFor="let page of leftmenu" class="nav-item active">
              <a class="nav-link" href="#">{{ page }}</a>
            </li>
          </ul> -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/guide">Guide</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/articles">Articles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
  
    <div id="id01" class="modal">
  
        <form class="modal-content animate" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            </div>
  
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" ngModel class="loginput form-control" name="uname" required>
  
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" ngModel class="loginput form-control" name="psw" required>
  
                <button class="submitbtn" type="submit">Login</button>
            </div>
  
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="submitbtn cancelbtn">Cancel</button>
                <span class="psw"><a href="#">Forgot password?</a></span>
            </div>
        </form>
    </div>
    
    </div>

    <script>
      var modal = document.getElementById('id01');
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
  </script>
