<div class="container-fluid justify-content-center d-flex">
    <div class="inline-div">
         <a routerLink="../laptops"><button class="btn"><span style="color: black;">Laptops</span></button></a>
    </div>
    <div class="inline-div">
        <a routerLink="../mobiles"><button class="btn"><span style="color: black;">Mobiles</span></button></a>
    </div>
    <div class="inline-div">
        <a routerLink="../headphones"><button class="btn"><span style="color: black;">Headphones</span></button></a>
    </div>
    <div class="inline-div">
        <a routerLink="../gaming"><button class="btn"><span style="color: black;">Gaming</span></button></a>
    </div>
    <div class="inline-div">
        <a routerLink="../wearables"><button class="btn"><span style="color: black;">Wearables</span></button></a>
    </div>
    <div class="inline-div">
        <a routerLink="../entertainment"><button class="btn"><span style="color: black;">Entertainment</span></button></a>
    </div>
</div>

<div class="justify-content-center d-flex mt-5">
    <h5 class="alert alert-warning">No Category Selected</h5>   
</div>
