<div class="navv3">
    <nav class="navbar navbar-expand-lg mt-4 mb-4">
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item"><a class="nav-link list1" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link list1" routerLink="/products/list">Reviews</a></li>
          <li class="nav-item"><a class="nav-link list1" routerLink="/guide">Guide</a></li>
          <li class="nav-item"><a class="nav-link list1" routerLink="/articles">Articles</a></li>
          <li class="nav-item"><a class="nav-link list1" routerLink="/about">About</a></li>
          <li class="nav-item"><a class="nav-link list1" routerLink="/contact">Contact</a></li> -->
          
          <li class="nav-item"><a class="nav-link list1" [routerLink]="['comments/manage']">Manage Comments</a></li>
          <li class="nav-item"><a class="nav-link list1" [routerLink]="['articles/manage']">Manage Articles</a></li>
          <li class="nav-item"><a class="nav-link list1" [routerLink]="['reviews/manage']">Manage Reviews</a></li>
        </ul>
      </div>
    </nav>
 </div>

 <div>
     <router-outlet></router-outlet>
 </div>

