.title-bar{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    text-align: center;
    color: white;
    display: block;
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .image-banner {
    height: 200px;
    display: block;
    margin-top: 70px;
    margin-bottom: 100px;
}

.shopheading {
    text-align: center;
}

.my-container{
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}