<div class="container-fluid title-bar">
    <h1>Articles</h1>
    <h4>what we think...</h4>
 </div>
<!--page starts-->
<div class="my-container">
    <hr style="border: 1px solid grey;">
    <br>
    <div class="my-container">
        <div class="card-deck">
            <div class="card" *ngFor="let art of articals; let i= index">
              <img class="card-img-top" src="{{ art.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ art.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               <button [routerLink]="[i]">Read More</button> 
              </div>
            </div>
          </div>
    </div>
</div>