<div>
    <h1 class="title-bar">Products</h1>
</div>

<div>
           <div>
                <a routerLink="laptops"><button class="btn"><span style="color: black;">Laptops</span></button></a>
           </div>
           <div>
               <a routerLink="mobiles"><button class="btn"><span style="color: black;">Mobiles</span></button></a>
           </div>
           <div>
               <a routerLink="headphones"><button class="btn"><span style="color: black;">Headphones</span></button></a>
           </div>
           <div>
               <a routerLink="gaming"><button class="btn"><span style="color: black;">Gaming</span></button></a>
           </div>
           <div>
               <a routerLink="wearables"><button class="btn"><span style="color: black;">Wearables</span></button></a>
           </div>
           <div>
               <a routerLink="entertainment"><button class="btn"><span style="color: black;">Entertainment</span></button></a>
           </div>
</div>

<div>
    <div class="row">
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
