.name {
    font-weight: 650;
    color: #55311c
}

.image {
    max-width: 150vh;
    max-height: 150vh;
}

.infoDiv {
    margin-top: 3rem;
    margin-right: 12rem;
    width: 850px;
}


.card-img-top {
    max-height: 500px;
    max-width: 400px;
    margin-left: 250px;
}
.btnnew{
    padding: 8px 12px;
		 outline: none;
		 border: 0;
		 color: #fff;
		 border-radius: 4px;
		 background: #8c7569;
		 font-family: "Nunito", sans-serif;
		 transition: 0.3s;
}

button:hover{
    background: #55311c;
}