.name {
    font-weight: 650;
    color: #55311c
}

.image {
    max-width: 150vh;
    max-height: 150vh;
}

.infoDiv {
    margin-top: 3rem;
    margin-right: 12rem;
    width: 850px;
}


.card-img-top {
    max-height: 500px;
    max-width: 400px;
    margin-left: 250px;
}