<div class="my-container">
    <div class="d-flex justify-content-center">
        <img src="assets/img/img1.png" alt="techlead" class="image-banner">
    </div>
    <hr style="border: 1px solid grey;">
    <br>
    <h3 class="shopheading mb-4">SHOP THE COLLECTION</h3>

    <div class="my-container">
        <div class="card-deck">
            <div class="card" *ngFor="let product of products">
              <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               </div>
            </div>
          </div>
    </div>
</div>
