.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 10rem;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.heading {
    color: #55311c;
}

.date {
    font-size: small;
    color: #8a786e;
    margin-top: -2px;
}
.desc {
    margin-right: 20px;
}


.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.top {
    margin-top: 10vh;
}

.name {
    font-weight: 650;
    color: #55311c
}

.image {
    max-width: 100vh;
    max-height: 100vh;
}

.infoDiv {
    width: 1000px;
    align-items: center;
    display: block;
    border-radius: 30px;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    background: #fff;
    padding: 4rem;
}
.paragraph {
    font-weight: 600;
    text-align: justify;
}

.content {
	padding: 1em 1.5em;
	justify-self: center;
    margin-top: 3rem;
    margin-right: 12rem;
    width: 850px;
}




