<br><br><br>
<div class="col-sm-8">
   <div *ngFor="let heading of topHeadingDisplay; let i = index">
      
      <div class="container mx-5" *ngIf="newsId==heading._id">
         <div class="top">
            <h1 class="name list-group-item-heading">{{ heading.title }}</h1>
            <br>
            <h6 *ngIf="heading.author">by: <br>{{ heading.author }}</h6>
          </div>
          <br>
          <div> 
            <img class="image img-fluid" src="{{ heading.media }}" alt="ok">
          </div>
          <br><br>
          <div class="container infoDiv">
             <p class="paragraph">"{{heading.summary}}"</p>
          </div>
          <br>
          <div>
             <p>Read more at:- <a href="{{heading.link}}" target="_blank">{{heading.link}}</a></p>
          </div>
      </div>

      <div style="cursor: pointer;" *ngIf="heading.title && newsId==''" [routerLink]="['news', heading._id]">
         <div class="card">
            <div class="row">
               <div class="fill col-sm-3">
                  <img src="{{heading.media}}" class="card-img-top" alt="image">
               </div>
               <div class="col-sm-9">
                  <h5 class="heading">{{ heading.title | slice:0:60}}<span *ngIf="heading.title.length>60">...</span></h5>
                  <p class="date">{{heading.published_date | date }}</p>
                  <p class="desc">{{ heading.summary | slice:0:150 }}...</p>
               </div>
            </div>
         </div>
         <br>
      </div>
   </div>
   
</div>

<!-- <div *ngIf="newsId!=''">
   <div *ngFor="let heading of top "></div>
   
</div> -->



<!-- <div *ngFor="let heading of topHeadingDisplay">
   <h3>{{ heading.title }}</h3> 
   <img src="{{heading.urlToImage}}" alt="">
   <p>{{ heading.content }}</p>
</div>
</div> -->

